
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/manage">社團管理系統</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">回首頁</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manage/members?id=<%= clubId %>">社員管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manage/equipment?id=<%= clubId %>">器材管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manage/activities?id=<%= clubId %>">活動管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manage/courses?id=<%= clubId %>">社課管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manage/meetings?id=<%= clubId %>">會議管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manage/history?id=<%= clubId %>">歷史資料管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manage/announcement?id=<%= clubId %>">公告管理</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
