<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <title>活動報名</title>
</head>
<body>
    <%- include('layouts/header-index') %>
    
    <div class="container mt-4">
        <h2>活動報名表</h2>
        <form id="activitySignupForm">
            <div class="form-group">
                <label for="activityName">活動名稱</label>
                <input type="text" class="form-control" id="activityName" name="activityName" required value="<%= activity.Ca_name %>" disabled>
            </div>
            
            <div class="form-group">
                <label for="activityContent">活動內容</label>
                <textarea class="form-control" id="activityContent" name="activityContent" rows="4" disabled required><%= activity.Ca_content %></textarea>
            </div>
        </form>
            
        <% if(activity.insurance) { %>
            <%- include('layouts/SignupFormInsurance') %>
        <% } %>    
        <% if(activity.transportation) { %>
            <%- include('layouts/SignupFormTransport') %>
        <% } %>
        <div class="mt-4">
            <button type="submit" id="submitButton" class="btn btn-primary">提交報名</button>
        </div>
    </div>

    <script>
    </script>

    <%- include('layouts/footer') %>
</body>
</html>