<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>簡單實作 EJS</title>
    </head>
    <body> 
        <!-- <%= %> 把數出過來的參數當成值使用 -->
        <h1><%= game %></h1>
        <!-- <%- %> 把數出過來的參數當成 HTML 語法使用 -->
        <%- category %>
        <ul>
            <!-- <% %> 程式邏輯使用 -->
            <% for(var i=0; i<characters.length; i++) { %>
            <li><%= characters[i] %></li> <% } %>
        </ul>
    </body>
</html>