<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>社團管理系統</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</head>

<%- include('../layouts/header') %>

<div class="container mt-4">
    <h1 class="text-center mb-5">會員資訊</h1>
    
    <!-- 快速統計資訊 -->
    <div class="row">
        <div class="col-md-3">
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <h5 class="card-title">已報名社團</h5>
                    <p class="card-text display-4"><%= isverify_clubCount %></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <h5 class="card-title">審核中社團</h5>
                    <p class="card-text display-4"><%= clubCount %></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-success text-white">
                <div class="card-body">
                    <h5 class="card-title">參加活動數</h5>
                    <p class="card-text display-4"><%= activityCount %></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-info text-white">
                <div class="card-body">
                    <h5 class="card-title">參加社課數</h5>
                    <p class="card-text display-4"><%= courseCount %></p>
                </div>
            </div>
        </div>
    </div>
    

    
    <!-- 擁有權限的社團 -->
    <div class="row">
        <div class="col-md-4">
            <h5 class="mt-2">您可以管理的社團</h4>
                <% admin_club.forEach(club => { %>
                    <div class="row">
                        <div class="card h-100">
                            <div class="card-header">
                                <%= club.Club.C_name %> <span class="badge bg-info text-dark"><%= club.Club.C_type %></span>
                            </div>
                            <div class="card-footer">
                                <a href="/manage?<%= club.C_id %>" class="btn btn-primary">進入管理</a>
                            </div>
                        </div>
                    </div>
                <% }) %>
        </div>
        <div class="col-md-4">
            <h5 class="mt-2">已報名社團的社團</h4>
                <% is_verify_club.forEach(club => { %>
                    <div class="row">
                        <div class="card h-100">
                            <div class="card-header">
                                <%= club.Club.C_name %> <span class="badge bg-info text-dark"><%= club.Club.C_type %></span>
                            </div>
                            <div class="card-footer">
                                <a href="/club/info?<%= club.C_id %>" class="btn btn-primary">查看社團</a>
                            </div>
                        </div>
                    </div>
                <% }) %>
        </div>
        <div class="col-md-4">
            <h5 class="mt-2">審核中的社團</h4>
                <% verify_club.forEach(club => { %>
                    <div class="row">
                        <div class="card h-100">
                            <div class="card-header">
                                <%= club.Club.C_name %> <span class="badge bg-info text-dark"><%= club.Club.C_type %></span>
                            </div>
                            <div class="card-footer">
                                <a href="/club/info?<%= club.C_id %>" class="btn btn-primary">查看社團</a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            
        </div>
    </div>
    





</div>

<%- include('../layouts/footer') %>
</html>
